    .sec {
      margin: 0;
      top: 50px;
      display: flex;
      justify-content: center;
      align-items: center; 
      background-color: whitesmoke;
      margin: 50px;
    }
    .dv {
      width: 90%;
      height: 250px;
      background-color: gray;
      border-radius: 10px;
      text-align: center;
      color: white; 
    }
    h6{
        text-align: end;
    }